
@model System.Collections.Generic.List<EntityLayer.Concreate.Category>
@model List<EntityLayer.Concreate.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>