@model List<EntityLayer.Concreate.Category>

@{
    Layout = null;
}

<table class="tabel table-bordered">
    <tr>
        <th>Id</th>
        <th>KAtegorıAdı</th>
        <th>durumu</th>
        <th>Detalarr</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>